@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
body{
    background: tan;
}

.container{
    border: 1px black;
    width: 95%;
    height: 85vh;
    display: flex;
    text-align: center;
}

.facts{
    border: 1px solid black;
    width: 900px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: gray;
    background-color: white;
    border: 10px solid rgb(197, 150, 89);
}

.facts p, .facts h3{
    font-size: 1.5rem;
}

@media(max-width:480px){
    .facts p, .facts h3{
        font-size: 1rem;
    }
}